.Register{
    margin-left: 30%;
}

.inputBox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;
}

.RegisterBtn{
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: rgb(146, 133, 158);
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
}